{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}SEI 검사하기{% endblock %}
{% block content %}
    <script type="text/javascript">
    function validateform() {
        var a1 = document.myform.a1.value;
        var a2 = document.myform.a2.value;
        var a3 = document.myform.a3.value;
        var a4 = document.myform.a4.value;
        var a5 = document.myform.a5.value;
        var a6 = document.myform.a6.value;
        var a7 = document.myform.a7.value;
        var a8 = document.myform.a8.value;
        var a9 = document.myform.a9.value;
        var a10 = document.myform.a10.value;
        var a11 = document.myform.a11.value;
        var a12 = document.myform.a12.value;
        var a12 = document.myform.a12.value;
        var a14 = document.myform.a14.value;
        var a15 = document.myform.a15.value;
        var a15 = document.myform.a16.value;
        var a17 = document.myform.a17.value;
        var a18 = document.myform.a18.value;
        var a19 = document.myform.a19.value;
        var a20 = document.myform.a20.value;
        var a21 = document.myform.a21.value;
        var a22 = document.myform.a22.value;
        var a23 = document.myform.a23.value;
        var a24 = document.myform.a24.value;
        var a25 = document.myform.a25.value;

        if (a1==null||a1=="") {
            alert ("1번 문항에 응답이 없습니다.");
            return false;
        } else if (a2==null||a2=="") {
            alert ("2번 문항에 응답이 없습니다.");
            return false;
        } else if (a3==null||a3=="") {
            alert ("3번 문항에 응답이 없습니다.");
            return false;
        } else if (a4==null||a4=="") {
            alert ("4번 문항에 응답이 없습니다.");
            return false;
        } else if (a5==null||a5=="") {
            alert ("5번 문항에 응답이 없습니다.");
            return false;
        } else if (a6==null||a6=="") {
            alert ("6번 문항에 응답이 없습니다.");
            return false;
        }else if (a7==null||a7=="") {
            alert ("7번 문항에 응답이 없습니다.");
            return false;
        }else if (a8==null||a8=="") {
            alert ("8번 문항에 응답이 없습니다.");
            return false;
        }else if (a9==null||a9=="") {
            alert ("9번 문항에 응답이 없습니다.");
            return false;
        }else if (a10==null||a10=="") {
            alert ("10번 문항에 응답이 없습니다.");
            return false;
        }else if (a11==null||a11=="") {
            alert ("11번 문항에 응답이 없습니다.");
            return false;
        }else if (a12==null||a12=="") {
            alert ("12번 문항에 응답이 없습니다.");
            return false;
        }else if (a13==null||a13=="") {
            alert ("13번 문항에 응답이 없습니다.");
            return false;
        }else if (a14==null||a14=="") {
            alert ("14번 문항에 응답이 없습니다.");
            return false;
        }else if (a15==null||a15=="") {
            alert ("15번 문항에 응답이 없습니다.");
            return false;
        }else if (a16==null||a16=="") {
            alert ("16번 문항에 응답이 없습니다.");
            return false;
        }else if (a17==null||a17=="") {
            alert ("17번 문항에 응답이 없습니다.");
            return false;
        }else if (a18==null||a18=="") {
            alert ("18번 문항에 응답이 없습니다.");
            return false;
        }else if (a19==null||a19=="") {
            alert ("19번 문항에 응답이 없습니다.");
            return false;
        }else if (a20==null||a20=="") {
            alert ("20번 문항에 응답이 없습니다.");
            return false;
        }else if (a21==null||a21=="") {
            alert ("21번 문항에 응답이 없습니다.");
            return false;
        }else if (a22==null||a22=="") {
            alert ("22번 문항에 응답이 없습니다.");
            return false;
        }else if (a23==null||a23=="") {
            alert ("23번 문항에 응답이 없습니다.");
            return false;
        }else if (a24==null||a24=="") {
            alert ("24번 문항에 응답이 없습니다.");
            return false;
        }else if (a25==null||a25=="") {
            alert("25번 문항에 응답이 없습니다.");
            return false;
        }
       return true;
    }

    </script>

    <!-- test_id = 3 -->
    <h1>SEI 자아존중감 척도</h1>

    <form name="myform" action="{% url 'psytest:detail' testsheet=item.id %}" method="post" class="my-3" onsubmit="return validateform()">
        {% csrf_token %}
        <div class="container my-3">
            <table class="table">
                <thead>
                <tr class="thead-dark">
                    <td>수검자 이름 : </td>
                    <td>{{ form.client_nm }}</td>
                    <td>수검자 생년월일 : </td>
                    <td>{{ form.birth_dt }}</td>
                    <td>검사일시 : </td>
                    <td>{{ form.test_dt }}</td>
                </tr>
                </thead>
            </table>
        </div>
        <div>
            <table class="table table-bordered table-striped">
                <div>
                    <tr><td><p>{{ item.q1 }}</p></td><td style="width: 15%">응답 1 : {{ form.a1 }}</td></tr>
                    <tr><td>{{ item.q1_1 }}</td></tr>
                    <tr><td>{{ item.q1_2 }}</td></tr>
                </div>
                <div>
                    <tr><td><p>{{ item.q2 }}</p></td><td style="width: 15%">응답 2 : {{ form.a2 }}</td></tr>
                    <tr><td>{{ item.q1_1 }}</td></tr>
                    <tr><td>{{ item.q1_2 }}</td></tr>
                </div>
                <div>
                    <tr><td><p>{{ item.q3 }}</p></td><td style="width: 15%">응답 3 : {{ form.a3 }}</td></tr>
                    <tr><td>{{ item.q1_1 }}</td></tr>
                    <tr><td>{{ item.q1_2 }}</td></tr>
                </div>
                <div>
                    <tr><td><p>{{ item.q4 }}</p></td><td style="width: 15%">응답 4 : {{ form.a4 }}</td></tr>
                    <tr><td>{{ item.q1_1 }}</td></tr>
                    <tr><td>{{ item.q1_2 }}</td></tr>
                </div>
                <div>
                    <tr><td><p>{{ item.q5 }}</p></td><td style="width: 15%">응답 5 : {{ form.a5 }}</td></tr>
                    <tr><td>{{ item.q1_1 }}</td></tr>
                    <tr><td>{{ item.q1_2 }}</td></tr>
                </div>
                <div>
                    <tr><td><p>{{ item.q6 }}</p></td><td style="width: 15%">응답 6 : {{ form.a6 }}</td></tr>
                    <tr><td>{{ item.q1_1 }}</td></tr>
                    <tr><td>{{ item.q1_2 }}</td></tr>
                </div>
                <div>
                    <tr><td><p>{{ item.q7 }}</p></td><td style="width: 15%">응답 7 : {{ form.a7 }}</td></tr>
                    <tr><td>{{ item.q1_1 }}</td></tr>
                    <tr><td>{{ item.q1_2 }}</td></tr>
                </div>
                <div>
                    <tr><td><p>{{ item.q8 }}</p></td><td style="width: 15%">응답 8 : {{ form.a8 }}</td></tr>
                    <tr><td>{{ item.q1_1 }}</td></tr>
                    <tr><td>{{ item.q1_2 }}</td></tr>
                </div>
                <div>
                    <tr><td><p>{{ item.q9 }}</p></td><td style="width: 15%">응답 9 : {{ form.a9 }}</td></tr>
                    <tr><td>{{ item.q1_1 }}</td></tr>
                    <tr><td>{{ item.q1_2 }}</td></tr>
                </div>
                <div>
                    <tr><td><p>{{ item.q10 }}</p></td><td style="width: 15%">응답 10 : {{ form.a10 }}</td></tr>
                    <tr><td>{{ item.q1_1 }}</td></tr>
                    <tr><td>{{ item.q1_2 }}</td></tr>
                </div>
                <div>
                    <tr><td><p>{{ item.q11 }}</p></td><td style="width: 15%">응답 11 : {{ form.a11 }}</td></tr>
                    <tr><td>{{ item.q1_1 }}</td></tr>
                    <tr><td>{{ item.q1_2 }}</td></tr>
                </div>
                <div>
                    <tr><td><p>{{ item.q12 }}</p></td><td style="width: 15%">응답 12 : {{ form.a12 }}</td></tr>
                    <tr><td>{{ item.q1_1 }}</td></tr>
                    <tr><td>{{ item.q1_2 }}</td></tr>
                </div>
                <div>
                    <tr><td><p>{{ item.q13 }}</p></td><td style="width: 15%">응답 13 : {{ form.a13 }}</td></tr>
                    <tr><td>{{ item.q1_1 }}</td></tr>
                    <tr><td>{{ item.q1_2 }}</td></tr>
                </div>
                <div>
                    <tr><td><p>{{ item.q14 }}</p></td><td style="width: 15%">응답 14 : {{ form.a14 }}</td></tr>
                    <tr><td>{{ item.q1_1 }}</td></tr>
                    <tr><td>{{ item.q1_2 }}</td></tr>
                </div>
                <div>
                    <tr><td><p>{{ item.q15 }}</p></td><td style="width: 15%">응답 15 : {{ form.a15 }}</td></tr>
                    <tr><td>{{ item.q1_1 }}</td></tr>
                    <tr><td>{{ item.q1_2 }}</td></tr>
                </div>
                <div>
                    <tr><td><p>{{ item.q16 }}</p></td><td style="width: 15%">응답 16 : {{ form.a16 }}</td></tr>
                    <tr><td>{{ item.q1_1 }}</td></tr>
                    <tr><td>{{ item.q1_2 }}</td></tr>
                </div>
                <div>
                    <tr><td><p>{{ item.q17 }}</p></td><td style="width: 15%">응답 17 : {{ form.a17 }}</td></tr>
                    <tr><td>{{ item.q1_1 }}</td></tr>
                    <tr><td>{{ item.q1_2 }}</td></tr>
                </div>
                <div>
                    <tr><td><p>{{ item.q18 }}</p></td><td style="width: 15%">응답 18 : {{ form.a18 }}</td></tr>
                    <tr><td>{{ item.q1_1 }}</td></tr>
                    <tr><td>{{ item.q1_2 }}</td></tr>
                </div>
                <div>
                    <tr><td><p>{{ item.q19 }}</p></td><td style="width: 15%">응답 19 : {{ form.a19 }}</td></tr>
                    <tr><td>{{ item.q1_1 }}</td></tr>
                    <tr><td>{{ item.q1_2 }}</td></tr>
                </div>
                <div>
                    <tr><td><p>{{ item.q20 }}</p></td><td style="width: 15%">응답 20 : {{ form.a20 }}</td></tr>
                    <tr><td>{{ item.q1_1 }}</td></tr>
                    <tr><td>{{ item.q1_2 }}</td></tr>
                </div>
                <div>
                    <tr><td><p>{{ item.q21 }}</p></td><td style="width: 15%">응답 21 : {{ form.a21 }}</td></tr>
                    <tr><td>{{ item.q1_1 }}</td></tr>
                    <tr><td>{{ item.q1_2 }}</td></tr>
                </div>
                <div>
                    <tr><td><p>{{ item.q22 }}</p></td><td style="width: 15%">응답 22 : {{ form.a22 }}</td></tr>
                    <tr><td>{{ item.q1_1 }}</td></tr>
                    <tr><td>{{ item.q1_2 }}</td></tr>
                </div>
                <div>
                    <tr><td><p>{{ item.q23 }}</p></td><td style="width: 15%">응답 23 : {{ form.a23 }}</td></tr>
                    <tr><td>{{ item.q1_1 }}</td></tr>
                    <tr><td>{{ item.q1_2 }}</td></tr>
                </div>
                <div>
                    <tr><td><p>{{ item.q24 }}</p></td><td style="width: 15%">응답 24 : {{ form.a24 }}</td></tr>
                    <tr><td>{{ item.q1_1 }}</td></tr>
                    <tr><td>{{ item.q1_2 }}</td></tr>
                </div>
                <div>
                    <tr><td><p>{{ item.q25 }}</p></td><td style="width: 15%">응답 25 : {{ form.a25 }}</td></tr>
                    <tr><td>{{ item.q1_1 }}</td></tr>
                    <tr><td>{{ item.q1_2 }}</td></tr>
                </div>
            </table>
        </div>
        <input type="hidden" name="psytestsheet" id="id_psytestsheet" value="{{ item.id }}">
        <input type="submit" id="submit" value="검사완료" class="btn btn-primary"></input>
    </form>
    <!-- 뷰 제이에스 cdn -->
    <!-- 차트 영역 시작-->
    <div width="30" height="60"><canvas id="chart" ></canvas></div>
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script>
        var calcVar = 0;
        var posiVar = 0;
        var negaVar = 0;

        posiVar = ({{ form.a1 }}
                + {{ form.a2 }}
                + {{ form.a3 }}
                + {{ form.a6 }}
                + {{ form.a7 }}
                + {{ form.a11 }}
                + {{ form.a12 }}
                + {{ form.a14 }}
                + {{ form.a15 }}
                + {{ form.a16 }}
                + {{ form.a18 }}
                + {{ form.a19 }}
                + {{ form.a21 }}
                + {{ form.a24 }}
                + {{ form.a25 }});

        negaVar =  ((3 - {{ form.a4 }}) //역채점 문항 합
                  +(3 - {{ form.a5 }})
                  +(3 - {{ form.a8 }})
                  +(3 - {{ form.a9 }})
                  +(3 - {{ form.a10 }})
                  +(3 - {{ form.a13 }})
                  +(3 - {{ form.a17 }})
                  +(3 - {{ form.a20 }})
                  +(3 - {{ form.a22 }})
                  +(3 - {{ form.a23 }}));
        calcVar = posiVar + negaVar;

        var barChartData = {
            labels: ["자아존중감"],
            datasets: [{
                label: '검사결과',
                backgroundColor: "#1E90FF",
                data: [
                    calcVar,
                ]
            }, {
                label: '비교',
                backgroundColor: "#f7464a",
                data: [
                    25,
                ]
            }]
        };
        window.onload = function() {
            var ctx = $('#chart').get(0).getContext("2d");
            window.theChart = new Chart(ctx, {
                type: 'bar',
                data: barChartData,
                options: {

                }
            });
        }

    </script>
<!-- 차트 영역 끝-->
{% endblock %}